<%- include('partials/header') -%>

    <style>
        body {

        }
    </style>

    <div class="container my-5">

        <h1 class="text-center mb-4" style="color: #626262; font-weight: bold;">سجل العمليات</h1>
    </div>


    <div class="container my-5" style="text-align:right">
        <table class="table table-striped table-secondary m-auto" width="80%">
            <thead>
                <tr class="table-dark">
                    <th scope="col">المبلغ المرسل</th>
                                        <th scope="col">اسم المستلم</th>

                                        <th scope="col">اسم المرسل</th>

                </tr>
            </thead>
            
            <tbody class='fw-bold'>
                <% transferList.forEach(function(transfer){%>
                    <tr class="d1">
                                            <td>
                            <%= transfer.amount %>
                        </td>

                        <td>
                            <%= transfer.receiver %>
                        </td>
                        <td>
                            <%= transfer.sender %>
                        </td>
                    </tr>
                    <% }) %>

            </tbody>
        </table>

    </div>





    <%- include('partials/footer') -%>